.App {
  text-align: center;
}

.Body {
  margin-bottom: 50px;
}

.Input {
  width: 80%;
  margin: 0 auto;
  border: 1px solid grey;
}

/* .App-logo {
  width: 150px;
  height: 100px;
} */

.App-header {
  background-color: #282c34;
  height: auto;
  padding: 20px;
  display: flex;
  color: white;
}
